{
    "addr": ":12345",
    "userlist":[
        {"user": "user1", "pass":"pass1"},
        {"user": "user2", "pass":"pass2"}
    ],
    "ipallow" : [
	"1.2.3.4/32",
	"1.2.3.0/24"
    ],
    "pattern" :[
	"google.com:80",
	"13.124.6.97",
	"[.0-9a-z]+.foo.bar:[0-9]+"
    ],
    "blockpattern" :[
       "[.0-9a-z:]+"
    ]
}
